type power_off_alarm, domain, coredomain, mlstrustedsubject;
app_domain(power_off_alarm)
net_domain(power_off_alarm)

allow power_off_alarm app_api_service:service_manager find;
allow power_off_alarm system_app_data_file:dir create_dir_perms;
allow power_off_alarm system_app_data_file:{ file lnk_file } create_file_perms;

